@import 'https://code.highcharts.com/css/highcharts.css';

/* General */
body {
    background: gray; width: 100%;
}
.title-page{
    margin: 1% 0.4% 0.25% 0.4%; border-radius: 0.25rem;
}
h1{
    width: 100%;
}
input{
    width: 90%!important;
    margin: 1% 5%;
}
.modal-body{
    padding-bottom: 0px;
}
form{
    margin: 0px 0px;
}


/* Toast */
.toast-container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    z-index: 1060;
    position: fixed;
}
.toast-position{
    position: relative;
    bottom: 0;
    right: 0;
    height: 100%;
}
.toast-header{
    width: 1000px!important;
}
.toast-body{
    width: 100%;
}


/* Botón agregar y gráficos */
.main-container{
    display:flex;
    justify-content: space-between;
    margin: 0.25% 0.4% 1% 0.4%;
    border-radius: 0.25rem;
}


/* Cartas de items */
.card-item-container{
    width: auto;
    margin: 0.25% 0.4%;

}
.card-item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-grow: 1;
}
.card-description{
    margin: 0px 0px;
    display:inline-block;
    width: auto;
    margin-right: 4%;

}
.card-name{
    margin: 0px 0px;
    width: auto;
    min-width: 150px;
    display:inline-block;
    margin-right: 4%;
}


/* Botones de los items, editar y eliminar */
.card-button-container{
    width: 10%;
    min-width:200px;
}
.card-button{
    width: 50%;
}
.green-button:hover{
    background: #26ac24;
}
.red-button:hover{
    background: #c23737;
}



/* Highcharts */
.highcharts-pie-series .highcharts-point {
	stroke: #EDE;
	stroke-width: 2px;
}
.highcharts-pie-series .highcharts-data-label-connector {
	stroke: silver;
	stroke-dasharray: 2, 2;
	stroke-width: 2px;
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 600px;
  margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}