@import 'https://code.highcharts.com/css/highcharts.css';
@font-face {
    font-family: "Raleway";
    src: url("font/raleway.ttf");
  }

/* General */
a{
    display: none!important;
}
html{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
body {
    background: #222831;
    width: 100%;
    width: 95%;
}
.title-page{
    border-radius: 0.5rem;
}

h1{
    width: 90%;
    border: 3 solid yellow;
    font-family: "raleway";
    font-weight: bold;
    color: orange;
    font-size: 60px;
    margin: 2% 0px 2% 5px;
    text-shadow: -4px 3px 4px black;
}
input{
    width: 90%!important;
    margin: 1% 5%;
}
.modal-body{
    padding-bottom: 0px;
}
form{
    margin: 0px 0px;
}


/* Toast */
.toast-container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    z-index: 1060;
    position: fixed;
}
.toast-position{
    position: relative;
    bottom: 0;
    right: 0;
    height: 100%;
}
.toast-header{
    width: 1000px!important;
}
.toast-body{
    width: 100%;
}


/* Botón agregar y gráficos */
.main-container{
    display:flex;
    justify-content: space-between;
    margin: 0.25% 0.4% 1% 0.4%;
    border-radius: 0.5rem;
}


/* Cartas de items */
.card-item-container{
    width: auto;
    margin: 0.5% 0.4%;
    border-radius: 10px;
}
.card-item{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
}
.card-description{
    margin: 0px 2%;
    display:inline-block;
    text-align: center;
    width: 55%;
    padding: 1.5% 10px;
    border-left: 1px solid grey;
}
.card-name{
    padding: 1.5% 0px;
    margin: 0px 0px;
    width: 15%;
    height: auto;
    min-width: 120px;
    display:inline-block;
    font-weight: bold;
}


/* Botones de los items, editar y eliminar */
.card-button-container{
    width: 10%;
    min-width:200px;
    max-height: 55px;
}
.card-button{
    width: 48%;
    margin-right: 1%;
}
.green-button:hover{
    background: #26ac24;
}
.red-button:hover{
    background: #c23737;
}


/* Highcharts */
.highcharts-pie-series .highcharts-point{
	stroke: #EDE;
	stroke-width: 2px;
}
.highcharts-pie-series .highcharts-data-label-connector{
	stroke: silver;
	stroke-dasharray: 2, 2;
	stroke-width: 2px;
}
.highcharts-figure, .highcharts-data-table table{
    min-width: 100%; 
    max-width: 100%;
    margin: 1em auto;
}
.highcharts-data-table table{
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
    width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption{
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th{
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption{
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even){
    background: #f8f8f8;
}
.highcharts-data-table tr:hover{
    background: #f1f7ff;
}


@media (max-width: 900px){
    .card-item-container{
        margin: 1% 0.4%;
    }
    .card-button-container{
        width: 100px;
        min-width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        height: 75px;
        max-height: 120px;
    }
    .card-button{
        width: 100px;
        height: 34px;
    }
}
@media (max-width: 650px){
    .card-name{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .card-description{
        width: 80%;
        border-right: none;
        border-left: none;
        border-top: 1px solid grey;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card-item{
        justify-content: space-evenly;
        padding: 12px 0px;
    }
    .card-button-container{
        margin: 2% 0px;
        width: 85%;
        display: flex;
        justify-content: flex-end;
        height: auto;
    }
    .card-button{
        width: 12%;
        min-width: 85px;
    }
}
@media (max-width: 500px){
    .button-head-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .title-page{
        text-align: center;
    }
    .button-head{
        width: 40%;
    }
    .input-head{
        width: 100%;
    }
    .toast-container{
        width: 100%;
    }
    .toast{
        max-width: 100%;
    }
}

@media (max-width: 412px){
    .card-name{
        width: 100%;
        height: auto;
    }
    .card-description{
        width: 100%;
        margin: 4% 0px;
        max-width: 100%;
    }
    .card-item{
        justify-content: space-evenly;
        padding: 10px 20px;
    }
    .card-item-container{
        margin: 2% 0.4%;
    }
    .card-button-container{
        margin: 2% 0px;
        width: 100%;
        display: flex;
        justify-content: space-around;   
    }
    .card-button{
        width: 40%;
    }
    h1{
        font-size: 15vw;
    }
}